/*** sectioning elements ***/

body {
  max-width: 100%;
  background-color: #ADD8E6;
  font-family: 'Lobster', cursive;
}

div.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}



header {
  background-color: #000000;
  margin: 0;
  vertical-align: middle;
  max-width: 100%

}

main {
  text-align: center;
  color: #000000;

}

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #000000;
}

nav {

}

section {
}

aside {

}


/**** content styles ***/

h1 {
  color: #fcca2b;
  margin-top: 50px;
  font-family: 'Lobster', cursive;
  vertical-align: middle;
  font-size: 65px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #000000;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
  text-align: center;
}

p.add {
  color: #ADD8E6;
  text-align: center;
}

p.mission {
  font-size: 16px;
}

blockquote {

}

ol {

}

ul {

}

li {

}

table {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-family: sans-serif;
}

tr {
  padding: 10px;
}

th {
  padding: 10px;
}

td {
  padding: 15px;
}


form {
  font-size: 15px;
}



/*** image styles ***/

img.head {
  float:left;
  max-width: 100%;
}

img.logo {
vertical-align: middle;
}

@media (max-width:600px) {
  img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    }
  table {
    width: 100%;
    }

  thead {
    display: none;
  }

  tr {
    border: 1px solid #740003;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  td {
    display: block;
  }

  td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}

/***Nav style***/

.navbar {
     background-color: #fcca2b;
     font-family: 'Lobster', cursive;
   }

   .navbar-brand {
     color: #000000;
   }

   .navbar-brand a:link,
   .navbar-brand a:visited {

   }

   .navbar-brand a:hover,
   .navbar-brand a:active {

   }

   .navbar-menu a:link,
   .navbar-menu a:visited {
     color: #000000;
   }

   .navbar-menu a:hover,
   .navbar-menu a:active {

   }

   .navbar-menu.menu-shown {
      background-color: #fcca2b;
    }

    .menu-toggle {
      color: #ffffff;
    }

    .menu-dismiss {
      color: #fff;
    }

    .menu-shown a:link,
    .menu-shown a:visited {
      color: #000000;
    }

    .menu-shown a:active,
    .menu-shown a:hover {

    }
